.movie__list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 2rem;
  
  .movie__img{
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
 /* height: 100%;*/

}

.movie__name{
  padding-bottom: 1rem;
}



}

@media (min-width: 44em){
  .movie__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 70em){
  .movie__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
}
