<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
     <li class="navbar__item" onclick="{{hHome}}">Accueil</li>
      <li class="navbar__item" onclick="{{hStat}}">Statistiques</li>
  </ul>
   <div>
     <select required id="nom" onchange="C.handlerProfile()">
      <option value="">--Choisir un profil--</option>
      
      {{profileItems}}

     </select>
      <input type="button" value="Déconnexion" onclick="C.handlerLogOut()" id="btn-deconnexion">
     </div>


</nav>
