<div class="addProfile">
    <form class="addProfile__form">
        
        <input class="addProfile__input" required type="text" name="nom" placeholder="Nom du Profil">

        <select class="addProfile__select" required name="age_restriction">
            <option value="">--Restriction d'âge--</option>
            <option value="0">Tout public</option>
            <option value="10">10 ans</option>
            <option value="12">12 ans</option>
            <option value="14">14 ans</option>
            <option value="16">16 ans</option>
            <option value="18">18 ans</option>
        </select> 
        
        <input class="addProfile__button" onclick="{{handler}}" type="button" value="Créer un profil">

    </form>
</div>