<div class="addProfile">
    <form class="addProfile__form">
        
        <input required type="text" name="nom" placeholder="Nom du Profil">

        <input required type="text" name="avatar" placeholder="Avatar du Profile">

    

      
        <select required name="age_restriction">
            <option value="">--Restriction d'age--</option>
            <option value="3">Jeunesse - 8ans</option>
            <option value="9">Kids - 10 ans</option>
            <option value="13">Ado - 13 ans</option>
            <option value="18">Adulte - 18ans</option>
        
        </select>

        <input onclick="{{handler}}" type="button" value="Crée un profil" name="todo">

    </form>
</div>