<section class="app__stats">

    <h2 class="app__stats-title">Quelques chiffres a propos du site web</h2>
    <ul class="app__stats-list">
        
        <li class="app__stats-item">
            <h3 class="stats__title">Nombre de Profil Crées</h3>
            <p class="stats__text">{{number_profile}}</p>
        </li>

         <li class="app__stats-item">
            <h3 class="stats__title">Film Favoris par Profile en Moyennne</h3>
            <p class="stats__text">{{avg_favoris}}</p>
        </li>

         <li class="app__stats-item">
            <h3 class="stats__title">Nombre Films</h3>
            <p class="stats__text">{{number_movie}}</p>
        </li>

         <li class="app__stats-item">
            <h3 class="stats__title">Film le Plus Ajoutés aux Favoris</h3>
            <p class="stats__text">{{popular_movie}}</p>
        </li>

         <li class="app__stats-item">
            <h3 class="stats__title">Categorie la plus Populaire</h3>
            <p class="stats__text">{{popular_category}}</p>
        </li>
    </ul>

</section>